<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo App</a>
  </div>
</nav>
<div class="container mt-4">
    <h3>Todos</h3>
    <hr />
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" formControlName="description" />
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
</div>
